USE [AMI]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 28/8/2026 22:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[idMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[idModelo] [int] IDENTITY(1,1) NOT NULL,
	[idMarca] [int] NOT NULL,
	[NombreModelo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autos]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autos](
	[idAuto] [int] IDENTITY(1,1) NOT NULL,
	[idModelo] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[CostoAdquisicion] [decimal](10, 2) NOT NULL,
	[FechaIngresoInventario] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDim_Vehiculo]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- 1. CREACIÓN DE LAS DIMENSIONES
-- ==========================================

CREATE VIEW [dbo].[vDim_Vehiculo] AS
SELECT 
    a.idAuto,
    m.NombreMarca,
    mo.NombreModelo,
    a.Anio,
    a.Estado
FROM Autos a
INNER JOIN Modelos mo ON a.idModelo = mo.idModelo
INNER JOIN Marcas m ON mo.idMarca = m.idMarca;
GO
/****** Object:  Table [dbo].[OrigenesCliente]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrigenesCliente](
	[idOrigen] [int] IDENTITY(1,1) NOT NULL,
	[NombreCanal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](100) NULL,
	[Cedula] [varchar](100) NULL,
	[idOrigen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDim_Cliente]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDim_Cliente] AS
SELECT 
    c.IdCliente,
    c.Nombre + ' ' + c.Apellido AS NombreCompleto,
    c.Correo,
    o.NombreCanal AS OrigenCliente
FROM Clientes c
INNER JOIN OrigenesCliente o ON c.idOrigen = o.idOrigen
UNION ALL
-- Fila "fantasma" para autos que aún no se venden
SELECT -1, 'Sin Vender', 'N/A', 'N/A';
GO
/****** Object:  Table [dbo].[CampañasMarketing]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampañasMarketing](
	[idCampaña] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampaña] [varchar](100) NOT NULL,
	[PresupuestoInvertido] [decimal](10, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCampaña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDim_Campana]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDim_Campana] AS
SELECT 
    idCampaña,
    NombreCampaña,
    PresupuestoInvertido
FROM CampañasMarketing
UNION ALL
-- Fila "fantasma" para autos sin interacciones
SELECT -1, 'Sin Campaña / Organico', 0.00;
GO
/****** Object:  Table [dbo].[CostosEstancamiento]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosEstancamiento](
	[idCostoEstancamiento] [int] IDENTITY(1,1) NOT NULL,
	[idAuto] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[FechaGasto] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCostoEstancamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[FormaPago] [varchar](20) NOT NULL,
	[TotalVenta] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
	[PrecioRealVendido] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interacciones]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interacciones](
	[idInteraccion] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[idAuto] [int] NULL,
	[idCampaña] [int] NOT NULL,
	[FechaInteraccion] [date] NOT NULL,
	[TipoMedio] [varchar](50) NULL,
	[NivelInteres] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInteraccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vFact_RendimientoInventario]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vFact_RendimientoInventario] AS
SELECT
    -- Llaves de las dimensiones
    a.idAuto,
    ISNULL(v.IdCliente, -1) AS IdCliente,
    ISNULL(InteraccionesAgrupadas.idCampañaPrincipal, -1) AS IdCampaña,

    -- Fechas
    a.FechaIngresoInventario,
    v.FechaVenta,

    -- Estado del vehículo
    a.Estado,

    -- Métricas
    a.CostoAdquisicion,
    ISNULL(Costos.TotalGastos, 0) AS GastosAlmacenamiento,
    dv.PrecioRealVendido AS PrecioVenta,

    -- Ganancia (solo cuando el vehículo ya fue vendido)
    CASE
        WHEN dv.PrecioRealVendido IS NULL THEN NULL
        ELSE
            dv.PrecioRealVendido
            - a.CostoAdquisicion
            - ISNULL(Costos.TotalGastos, 0)
    END AS GananciaNeta,

    -- Total de interacciones
    ISNULL(InteraccionesAgrupadas.Cantidad, 0) AS TotalInteracciones,

    -- Días que lleva el vehículo en inventario
    CASE
        WHEN a.Estado = 'Vendido' AND v.FechaVenta IS NOT NULL
            THEN DATEDIFF(DAY, a.FechaIngresoInventario, v.FechaVenta)
        ELSE
            DATEDIFF(DAY, a.FechaIngresoInventario, GETDATE())
    END AS DiasInventario

FROM Autos a

-- Venta del vehículo
LEFT JOIN DetalleVenta dv
    ON a.idAuto = dv.idAuto

LEFT JOIN Ventas v
    ON dv.idVenta = v.idVenta

-- Gastos acumulados del vehículo
LEFT JOIN (
    SELECT
        idAuto,
        SUM(Monto) AS TotalGastos
    FROM CostosEstancamiento
    GROUP BY idAuto
) Costos
    ON a.idAuto = Costos.idAuto

-- Interacciones acumuladas por vehículo
LEFT JOIN (
    SELECT
        idAuto,
        COUNT(*) AS Cantidad,
        MAX(idCampaña) AS idCampañaPrincipal
    FROM Interacciones
    GROUP BY idAuto
) InteraccionesAgrupadas
    ON a.idAuto = InteraccionesAgrupadas.idAuto;
GO
/****** Object:  View [dbo].[vDim_Tiempo]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDim_Tiempo] AS
SELECT DISTINCT FechaIngresoInventario AS Fecha
FROM Autos

UNION

SELECT DISTINCT FechaVenta
FROM Ventas
WHERE FechaVenta IS NOT NULL;
GO
/****** Object:  Table [dbo].[CategoriasCosto]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCosto](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 28/8/2026 22:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NomProveedor] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autos] ON 

INSERT [dbo].[Autos] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado]) VALUES (1, 1, 2019, CAST(9745.00 AS Decimal(10, 2)), CAST(N'2025-10-27' AS Date), N'Vendido')
INSERT [dbo].[Autos] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado]) VALUES (2, 2, 2019, CAST(15525.00 AS Decimal(10, 2)), CAST(N'2024-10-22' AS Date), N'Vendido')
INSERT [dbo].[Autos] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado]) VALUES (3, 13, 2019, CAST(14317.00 AS Decimal(10, 2)), CAST(N'2026-04-11' AS Date), N'Vendido')
GO
SET IDENTITY_INSERT [dbo].[Autos] OFF
GO
SET IDENTITY_INSERT [dbo].[CampañasMarketing] ON 

INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin]) VALUES (1, N'Feria Universitaria Campus', CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-02-01' AS Date), CAST(N'2025-02-15' AS Date))
INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin]) VALUES (2, N'Lanzamiento Verano 2025', CAST(1200.00 AS Decimal(10, 2)), CAST(N'2025-03-01' AS Date), CAST(N'2025-04-30' AS Date))
INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin]) VALUES (3, N'Liquidación Fin de Año', CAST(2000.00 AS Decimal(10, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[CampañasMarketing] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriasCosto] ON 

INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Mantenimiento Preventivo', N'Cambio de aceite, filtros y revisión general')
INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Lavado y Detailing', N'Limpieza profunda para exhibición')
INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Reparación Menor', N'Arreglos estéticos o eléctricos pequeños')
SET IDENTITY_INSERT [dbo].[CategoriasCosto] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen]) VALUES (1, N'Carlos', N'Mejía', N'+505 8811 2233', N'carlos.m@email.com', N'001-150498-0001A', 1)
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen]) VALUES (2, N'Ana', N'García', N'+505 8822 3344', N'ana.g@email.com', N'001-220895-0002B', 2)
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen]) VALUES (3, N'Luis', N'Pérez', N'+505 8833 4455', N'luis.p@email.com', N'401-100190-0003C', 3)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra]) VALUES (1, 1, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra]) VALUES (2, 2, CAST(N'2024-05-15' AS Date))
INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra]) VALUES (3, 3, CAST(N'2024-08-20' AS Date))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[CostosEstancamiento] ON 

INSERT [dbo].[CostosEstancamiento] ([idCostoEstancamiento], [idAuto], [idCategoria], [FechaGasto], [Monto]) VALUES (1, 304, 1, CAST(N'2025-11-04' AS Date), CAST(43.00 AS Decimal(10, 2)))
INSERT [dbo].[CostosEstancamiento] ([idCostoEstancamiento], [idAuto], [idCategoria], [FechaGasto], [Monto]) VALUES (2, 405, 3, CAST(N'2026-05-25' AS Date), CAST(23.00 AS Decimal(10, 2)))
INSERT [dbo].[CostosEstancamiento] ([idCostoEstancamiento], [idAuto], [idCategoria], [FechaGasto], [Monto]) VALUES (3, 410, 1, CAST(N'2025-08-22' AS Date), CAST(107.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[CostosEstancamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (1, 2, 1)
INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (2, 3, 2)
INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (3, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([idDetalle], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (1, 1, 1, CAST(12376.15 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalle], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (2, 2, 2, CAST(22200.75 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalle], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (3, 3, 3, CAST(17180.40 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Interacciones] ON 

INSERT [dbo].[Interacciones] ([idInteraccion], [IdCliente], [idAuto], [idCampaña], [FechaInteraccion], [TipoMedio], [NivelInteres]) VALUES (1, 17, 41, 3, CAST(N'2025-08-03' AS Date), N'WhatsApp', N'Medio')
INSERT [dbo].[Interacciones] ([idInteraccion], [IdCliente], [idAuto], [idCampaña], [FechaInteraccion], [TipoMedio], [NivelInteres]) VALUES (2, 3, 304, 3, CAST(N'2026-05-19' AS Date), N'Correo', N'Bajo')
INSERT [dbo].[Interacciones] ([idInteraccion], [IdCliente], [idAuto], [idCampaña], [FechaInteraccion], [TipoMedio], [NivelInteres]) VALUES (3, 18, 170, 3, CAST(N'2025-08-31' AS Date), N'WhatsApp', N'Medio')
GO
SET IDENTITY_INSERT [dbo].[Interacciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([idMarca], [NombreMarca]) VALUES (3, N'Hyundai')
INSERT [dbo].[Marcas] ([idMarca], [NombreMarca]) VALUES (4, N'Kia')
INSERT [dbo].[Marcas] ([idMarca], [NombreMarca]) VALUES (2, N'Nissan')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelos] ON 

INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (1, 1, N'Yaris')
INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (2, 1, N'Hilux')
INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (3, 1, N'Corolla')
SET IDENTITY_INSERT [dbo].[Modelos] OFF
GO
SET IDENTITY_INSERT [dbo].[OrigenesCliente] ON 

INSERT [dbo].[OrigenesCliente] ([idOrigen], [NombreCanal]) VALUES (1, N'Feria Universitaria')
INSERT [dbo].[OrigenesCliente] ([idOrigen], [NombreCanal]) VALUES (2, N'Campaña Facebook')
INSERT [dbo].[OrigenesCliente] ([idOrigen], [NombreCanal]) VALUES (3, N'Referido')
SET IDENTITY_INSERT [dbo].[OrigenesCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (1, N'Casa Pellas', N'+505 2255 4433', N'Carretera Norte, Managua')
INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (2, N'Excel Automotriz', N'+505 2277 8899', N'Pista Jean Paul Genie, Managua')
INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (3, N'Deshon & Cia', N'+505 2266 1122', N'Plaza España, Managua')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([idVenta], [IdCliente], [FechaVenta], [FormaPago], [TotalVenta]) VALUES (1, 10, CAST(N'2026-02-20' AS Date), N'Financiamiento', CAST(12376.15 AS Decimal(12, 2)))
INSERT [dbo].[Ventas] ([idVenta], [IdCliente], [FechaVenta], [FormaPago], [TotalVenta]) VALUES (2, 14, CAST(N'2025-07-09' AS Date), N'Contado', CAST(22200.75 AS Decimal(12, 2)))
INSERT [dbo].[Ventas] ([idVenta], [IdCliente], [FechaVenta], [FormaPago], [TotalVenta]) VALUES (3, 15, CAST(N'2026-04-11' AS Date), N'Contado', CAST(17180.40 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__A21FBE9F60032C45]    Script Date: 28/8/2026 22:33:31 ******/
ALTER TABLE [dbo].[CategoriasCosto] ADD UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DetalleC__D8600DCEBE16D6F9]    Script Date: 28/8/2026 22:33:31 ******/
ALTER TABLE [dbo].[DetalleCompra] ADD UNIQUE NONCLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DetalleV__D8600DCE80A15654]    Script Date: 28/8/2026 22:33:31 ******/
ALTER TABLE [dbo].[DetalleVenta] ADD UNIQUE NONCLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Marcas__42FE0ACB75598FD8]    Script Date: 28/8/2026 22:33:31 ******/
ALTER TABLE [dbo].[Marcas] ADD UNIQUE NONCLUSTERED 
(
	[NombreMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autos] ADD  DEFAULT (getdate()) FOR [FechaIngresoInventario]
GO
ALTER TABLE [dbo].[Autos] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Interacciones] ADD  DEFAULT ('Bajo') FOR [NivelInteres]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Contado') FOR [FormaPago]
GO
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD FOREIGN KEY([idModelo])
REFERENCES [dbo].[Modelos] ([idModelo])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([idOrigen])
REFERENCES [dbo].[OrigenesCliente] ([idOrigen])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[CostosEstancamiento]  WITH CHECK ADD FOREIGN KEY([idAuto])
REFERENCES [dbo].[Autos] ([idAuto])
GO
ALTER TABLE [dbo].[CostosEstancamiento]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriasCosto] ([idCategoria])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([idAuto])
REFERENCES [dbo].[Autos] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compras] ([idCompra])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idAuto])
REFERENCES [dbo].[Autos] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD FOREIGN KEY([idAuto])
REFERENCES [dbo].[Autos] ([idAuto])
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD FOREIGN KEY([idCampaña])
REFERENCES [dbo].[CampañasMarketing] ([idCampaña])
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marcas] ([idMarca])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD CHECK  (([Anio]>=(1900)))
GO
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD CHECK  (([CostoAdquisicion]>(0)))
GO
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD CHECK  (([Estado]='Vendido' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Interacciones]  WITH CHECK ADD CHECK  (([NivelInteres]='Alto' OR [NivelInteres]='Medio' OR [NivelInteres]='Bajo'))
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD CHECK  (([FormaPago]='Financiamiento' OR [FormaPago]='Contado'))
GO
