USE [master]
GO
/****** Object:  Database [Autos_AMI]    Script Date: 10/9/2026 00:30:44 ******/
CREATE DATABASE [Autos_AMI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Autos_AMI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Autos_AMI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Autos_AMI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Autos_AMI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Autos_AMI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Autos_AMI]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[idAuto] [int] IDENTITY(1,1) NOT NULL,
	[idModelo] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[CostoAdquisicion] [decimal](10, 2) NOT NULL,
	[FechaIngresoInventario] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampañasMarketing]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampañasMarketing](
	[idCampaña] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampaña] [varchar](100) NOT NULL,
	[PresupuestoInvertido] [decimal](18, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EstadoCampana] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCampaña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCargo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasCosto]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCosto](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdClientes] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Cedula] [varchar](100) NOT NULL,
	[idOrigen] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[EstadoCompra] [varchar](20) NOT NULL,
	[NumFactura] [varchar](50) NOT NULL,
	[TotalCompra] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostosEstancamientos]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosEstancamientos](
	[idCostoEstan] [int] IDENTITY(1,1) NOT NULL,
	[idAuto] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[FechaGasto] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCostoEstan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVen] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
	[PrecioRealVendido] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEmpleado] [varchar](20) NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[IdCargo] [int] NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[SalarioBase] [decimal](12, 2) NOT NULL,
	[EstadoEmpleado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iteracciones]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iteracciones](
	[idIteracciones] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
	[idCampaña] [int] NOT NULL,
	[FechaIteraccion] [date] NOT NULL,
	[TipoMedio] [varchar](50) NOT NULL,
	[NivelInteres] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIteracciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[idMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[idModelo] [int] IDENTITY(1,1) NOT NULL,
	[idMarca] [int] NOT NULL,
	[NombreModelo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrigenesClientes]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrigenesClientes](
	[idOrigen] [int] IDENTITY(1,1) NOT NULL,
	[NombreCanal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planilla]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planilla](
	[IdPlanilla] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaInicioPeriodo] [date] NOT NULL,
	[FechaFinPeriodo] [date] NOT NULL,
	[FechaPago] [date] NULL,
	[SalarioBase] [decimal](12, 2) NOT NULL,
	[DiasTrabajados] [int] NOT NULL,
	[HorasExtra] [int] NOT NULL,
	[Bonificaciones] [decimal](18, 2) NOT NULL,
	[Comisiones] [decimal](18, 2) NOT NULL,
	[OtrosIngresos] [decimal](18, 2) NOT NULL,
	[SalarioBruto] [decimal](18, 2) NOT NULL,
	[INSS] [decimal](18, 2) NOT NULL,
	[IR] [decimal](18, 2) NOT NULL,
	[OtrasDeducciones] [decimal](18, 2) NOT NULL,
	[TotalIngresos] [decimal](18, 2) NOT NULL,
	[TotalDeducciones] [decimal](18, 2) NOT NULL,
	[SalarioNeto] [decimal](18, 2) NOT NULL,
	[INSSPatronal] [decimal](18, 2) NOT NULL,
	[TotalAPagar] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Planilla] PRIMARY KEY CLUSTERED 
(
	[IdPlanilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NomProveedor] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 10/9/2026 00:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[FormaPago] [varchar](20) NOT NULL,
	[TotalVenta] [decimal](12, 2) NOT NULL,
	[EstadoVenta] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [SalarioBase]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [DiasTrabajados]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [HorasExtra]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [Bonificaciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [Comisiones]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [OtrosIngresos]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [SalarioBruto]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [INSS]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [IR]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [OtrasDeducciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [TotalIngresos]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [TotalDeducciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [SalarioNeto]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [INSSPatronal]
GO
ALTER TABLE [dbo].[Planilla] ADD  DEFAULT ((0)) FOR [TotalAPagar]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Auto_Modelo] FOREIGN KEY([idModelo])
REFERENCES [dbo].[Modelos] ([idModelo])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Auto_Modelo]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_OrigenesClientes] FOREIGN KEY([idOrigen])
REFERENCES [dbo].[OrigenesClientes] ([idOrigen])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_OrigenesClientes]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[CostosEstancamientos]  WITH CHECK ADD  CONSTRAINT [FK_CostosEstancamientos_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[CostosEstancamientos] CHECK CONSTRAINT [FK_CostosEstancamientos_Auto]
GO
ALTER TABLE [dbo].[CostosEstancamientos]  WITH CHECK ADD  CONSTRAINT [FK_CostosEstancamientos_CategoriasCosto] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriasCosto] ([idCategoria])
GO
ALTER TABLE [dbo].[CostosEstancamientos] CHECK CONSTRAINT [FK_CostosEstancamientos_CategoriasCosto]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Auto]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compras] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compras] ([idCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compras]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Auto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Ventas]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Cargo] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargo] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Cargo]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([idDepartamento])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Departamento]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_Auto]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_CampañasMarketing] FOREIGN KEY([idCampaña])
REFERENCES [dbo].[CampañasMarketing] ([idCampaña])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_CampañasMarketing]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdClientes])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_Clientes]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Marca] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marca] ([idMarca])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Marca]
GO
ALTER TABLE [dbo].[Planilla]  WITH CHECK ADD  CONSTRAINT [FK_Planilla_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Planilla] CHECK CONSTRAINT [FK_Planilla_Empleado]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdClientes])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [CK_Auto_Estado] CHECK  (([Estado]='Disponible' OR [Estado]='Vendido'))
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [CK_Auto_Estado]
GO
ALTER TABLE [dbo].[CampañasMarketing]  WITH CHECK ADD  CONSTRAINT [CK_CampañasMarketing_EstadoCampana] CHECK  (([EstadoCampana]='Finalizada' OR [EstadoCampana]='Activa' OR [EstadoCampana]='Programada'))
GO
ALTER TABLE [dbo].[CampañasMarketing] CHECK CONSTRAINT [CK_CampañasMarketing_EstadoCampana]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [CK_Compras_EstadoCompra] CHECK  (([EstadoCompra]='Pendiente' OR [EstadoCompra]='Completado'))
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [CK_Compras_EstadoCompra]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [CK_Empleado_EstadoEmpleado] CHECK  (([EstadoEmpleado]='Inactivo' OR [EstadoEmpleado]='Activo'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [CK_Empleado_EstadoEmpleado]
GO
ALTER TABLE [dbo].[Planilla]  WITH CHECK ADD  CONSTRAINT [CK_Planilla_Estado] CHECK  (([Estado]='Pagada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Planilla] CHECK CONSTRAINT [CK_Planilla_Estado]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_EstadoVenta] CHECK  (([EstadoVenta]='Pendiente' OR [EstadoVenta]='Finalizada'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_EstadoVenta]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_FormaPago] CHECK  (([FormaPago]='Financiado' OR [FormaPago]='Transferencia' OR [FormaPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_FormaPago]
GO
USE [master]
GO
